header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.navbar {
  font-family: "TS-Med", sans-serif;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-md {
  display: none;
}

.input-search {
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  height: 40px;
  flex-grow: 0.5;
  position: relative;
  padding-left: 30px;
}

.input-search:before {
  position: absolute;
  font-family: "IconTripAdvisor";
  top: 8px;
  left: 10px;
  content: "\e056";
  color: black;
  font-size: 20px;
}

nav a {
  padding: 10px 12px;
}

nav a:hover {
  background-color: #f2f2f2;
  border-radius: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-black {
  font-family: "TS-Med", sans-serif;
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 20px;
  height: 40px;
  padding: 10px 16px;
  font-size: 16px;
}
