@import "header.css";
@import "typo.css";
@import "main.css";
@import "modal.css";
@import "footer.css";

body {
  font-family: TS-Reg, sans-serif;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns div:first-child {
  width: 60%;
  padding-right: 40px;
}

.two-columns div:last-child {
  width: 40%;
}

.mt-40 {
  margin-top: 40px;
}

.mt-16 {
  margin-top: 16px;
}

/* QUERIES */

@media (max-width: 1184px) {
  .container {
    width: 92vw;
  }

  .cards {
    flex-wrap: wrap;
    height: 100%;
    align-content: flex-start;
  }

  .cards div {
    width: calc((92vw - 24px) / 3);
  }
}

@media (max-width: 1024px) {
  header ul,
  header .navbar > img {
    display: none;
  }

  header button {
    margin-left: auto;
  }

  .menu-md {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .navbar {
    justify-content: flex-start;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  header button {
    display: none;
  }

  .pictures > div:last-child {
    display: none;
  }

  .two-columns div:first-child {
    width: 100%;
    padding-right: 0px;
  }

  .red-card {
    display: none;
  }

  div.row {
    flex-direction: column;
    gap: 16px;
  }

  .carousel li,
  .carousel li div {
    width: 100%;
  }
}
