h1 {
  font-size: 54px;
  font-family: "Trip Sans VF", sans-serif;
  font-weight: 800;
}

h1 span {
  color: #ff5d5d;
}

h2 {
  font-size: 28px;
  margin-bottom: 16px;
  font-family: "Trip Sans VF", sans-serif;
}

h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.baseline {
  font-size: 14px;
  color: #333333;
}

.baseline span {
  text-decoration: underline;
}

a {
  font-family: "TS-Med", sans-serif;
  text-decoration: none;
  color: inherit;
}

.text-20 {
  font-size: 20px;
}

.text-12 {
  font-size: 12px;
}
